@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <script src="~/Content/JS/jquery-1.11.1.min.js"></script>
    <link href="~/Content/fotorama-4.6.2/fotorama.css" rel="stylesheet" />
    <script src="~/Content/fotorama-4.6.2/fotorama.js"></script>
</head>
<body>
    <div class="pageContent">
        <p>
            Сегодня мы с гордостью можем сказать, что работаем уже 12 лет.
            Наша концепция складывалась стихийно благодаря экзотической особенности нашего района, а также благодаря хобби владельцев -
            путешествовать. Мы гордимся тем,что можем удивить Вас наличием аутентичной Перуанской,Китайской,Индийской,Эквадорской кухнями.
            Только мы по всему Севастополю решились на столь экзотическое меню,которое готовится поварами из вышеперечисленных стран.
            Также Вас удивят большие  порции,быстрая подача и демократичные цены. И да, можно долго и высокопарно рассказывать про то,
            какие мы, но лучше один раз попробовать.
        </p>
    </div>
    <div class="fotorama" data-nav="thumbs" style="margin-bottom: 150px;">
        <img src="~/Content/Images/About/1.jpg" />
        <img src="~/Content/Images/About/2.jpg" />
        <img src="~/Content/Images/About/3.jpg" />
        <img src="~/Content/Images/About/4.jpg" />
        <img src="~/Content/Images/About/5.jpg" />
        <img src="~/Content/Images/About/6.jpg" />
        <img src="~/Content/Images/About/7.jpg" />
        <img src="~/Content/Images/About/8.jpg" />
        <img src="~/Content/Images/About/9.jpg" />
        <img src="~/Content/Images/About/10.jpg" />
        <img src="~/Content/Images/About/11.jpg" />
        <img src="~/Content/Images/About/12.jpg" />
        <img src="~/Content/Images/About/13.jpg" />
        <img src="~/Content/Images/About/14.jpg" />
        <img src="~/Content/Images/About/1.jpg" />
        <img src="~/Content/Images/About/2.jpg" />
        <img src="~/Content/Images/About/3.jpg" />
        <img src="~/Content/Images/About/4.jpg" />
        <img src="~/Content/Images/About/5.jpg" />
        <img src="~/Content/Images/About/6.jpg" />
        <img src="~/Content/Images/About/7.jpg" />
        <img src="~/Content/Images/About/8.jpg" />
        <img src="~/Content/Images/About/9.jpg" />
        <img src="~/Content/Images/About/10.jpg" />
        <img src="~/Content/Images/About/11.jpg" />
        <img src="~/Content/Images/About/12.jpg" />
        <img src="~/Content/Images/About/13.jpg" />
        <img src="~/Content/Images/About/14.jpg" />

    </div>
</body>
</html>
