@*@{
        Layout = "~/Views/_BasicLayout.cshtml";
    }*@

<div id="slideShowImages" style="border: solid 2px #fff;">
    <img src="~/Content/Images/restaurant_image.jpg" alt="Slide 1" />
    <img src="~/Content/Images/wpid-38_1.jpg" alt="Slide 2" />
    <img src="~/Content/Images/restaurant_image.jpg" alt="Slide 3" />
    <img src="~/Content/Images/wpid-38_1.jpg" alt="Slide 4" />
</div>
<button id="slideShowButton"></button>
<div class="counryMenu">
    <a href="/cuisine/Итальянская" class="italy">
        <span class="counryMenuImage">
            <span class="counryMenuFlag">
                <img src="~/Content/Images/flags_of_countries/it.png" />
            </span>
        </span>
        <span class="counryMenuBorder"></span>
        <span class="counryMenuTitle">
            Итальянская кухня
        </span>
    </a>
    <a href="/cuisine/Перуанская" class="peru">
        <span class="counryMenuImage">
            <span class="counryMenuFlag">
                <img src="~/Content/Images/flags_of_countries/at.png" />
            </span>
        </span>
        <span class="counryMenuBorder"></span>
        <span class="counryMenuTitle">Перуанская кухня</span>
    </a>
    <a href="/cuisine/Мексиканская" class="mexica">
        <span class="counryMenuImage">
            <span class="counryMenuFlag">
                <img src="~/Content/Images/flags_of_countries/mx.png" />
            </span>
        </span>
        <span class="counryMenuBorder"></span>
        <span class="counryMenuTitle">Мексиканская кухня</span>
    </a>
    <a href="/cuisine/Китайская" class="china">
        <span class="counryMenuImage">
            <span class="counryMenuFlag">
                <img src="~/Content/Images/flags_of_countries/cn.png" />
            </span>
        </span>
        <span class="counryMenuBorder"></span>
        <span class="counryMenuTitle">Китайская кухня</span>
    </a>
    <a href="/cuisine/Японская" class="japan">
        <span class="counryMenuImage">
            <span class="counryMenuFlag">
                <img src="~/Content/Images/flags_of_countries/jp.png" />
            </span>
        </span>
        <span class="counryMenuBorder"></span>
        <span class="counryMenuTitle">Японская кухня</span>
    </a>
    <a href="/cuisine/Индийская" class="india">
        <span class="counryMenuImage">
            <span class="counryMenuFlag">
                <img src="~/Content/Images/flags_of_countries/in.png" />
            </span>
        </span>
        <span class="counryMenuBorder"></span>
        <span class="counryMenuTitle">Индийская кухня</span>
    </a>
    <a href="/cuisine/Вегетарианская" class="vegetarian_food">
        <span class="counryMenuImage">
            <span class="counryMenuFlag">
                <img src="~/Content/Images/flags_of_countries/vegetarian.jpg" />
            </span>
        </span>
        <span class="counryMenuBorder"></span>
        <span class="counryMenuTitle">Вегетарианская кухня</span>
    </a>
</div>
<div class="foodMenu">
    <div class="width">
        <table>
            <tbody>
                <tr>
                    <td><a href="/category/Салаты">Салаты</a></td>
                    <td class="foodMenuDivTd"></td>
                    <td><a href="/category/Супы">Супы</a></td>
                    <td class="foodMenuDivTd"></td>
                    <td><a href="/category/Закуски">Закуски</a></td>
                    <td class="foodMenuDivTd"></td>
                    <td><a href="/category/Сэндвичи">Сэндвичи</a></td>
                    <td class="foodMenuDivTd"></td>
                    <td><a href="/category/Паста">Паста</a></td>
                    <td class="foodMenuDivTd"></td>
                    <td><a href="/category/Пицца">Пицца</a></td>
                    <td class="foodMenuDivTd"></td>
                    <td><a href="/category/Горячее">Горячее</a></td>
                    <td class="foodMenuDivTd"></td>
                    <td><a href="/category/VEG">VEG</a></td>
                    <td class="/category/Сэндвичи"></td>
                    <td><a href="/category/Суши">Суши</a></td>
                    <td class="foodMenuDivTd"></td>
                    <td><a href="/category/Мангал">Мангал</a></td>
                    <td class="foodMenuDivTd"></td>
                    <td><a href="/category/Десерты">Десерты</a></td>
                    <td class="foodMenuDivTd"></td>
                    <td><a href="/category/Чайная_карта">Чайная карта </a></td>
                    <td class="foodMenuDivTd"></td>
                    <td><a href="/category/Коктейли">Коктейли </a></td>
                    <td class="foodMenuDivTd"></td>
                    <td><a href="/category/Пиво">Пиво </a></td>
                    <td class="foodMenuDivTd"></td>
                    <td><a href="/category/Кальяны">Кальяны</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="left w12">
    <div class="quoteBnr">
        <div id="slideShow2">
            <div id="slider">
                <div id="slide1">
                    <img class="slideImg" src="~/Content/Images/chefs/chef1.jpg" />
                    <div class="slideText">
                        <p>Сингх- шеф-повар индийской кухни</p>
                    </div>
                </div>
                <div id="slide2">
                    <img class="slideImg" src="~/Content/Images/chefs/chef2.jpg" />
                    <div class="slideText">
                        <p>Леонцо- шеф-повар перуанской кухни</p>
                    </div>
                </div>
                <div id="slide3">
                    <img class="slideImg" src="~/Content/Images/chefs/chef3.jpg" />
                    <div class="slideText">
                        <p>Вонг- шеф-повар китайской кухни</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="quiteBnrPoints">
            <a id="btnPrev" href="#" onclick="prev(); return false;">
                Пред.
            </a>
            <a id="btnNext" href="#" onclick="next(); return false;">
                Cлед.
            </a>
        </div>
    </div>
</div>

<div class="right w12">
    <a href="/news#id23" class="noticesItem">
        <ins>14.06.2014<ins></ins></ins>
        <span class="noticesItemText">Трансляции матчей Чемпионата Мира по футболу</span>
    </a>
    <a href="/news#id24" class="noticesItem">
        <ins>14.06.2014<ins></ins></ins>
        <span class="noticesItemText">Отпразднуй День Рождение с нами!</span>
    </a>
    <a href="/news#id22" class="noticesItem">
        <ins>28.04.2014<ins></ins></ins>
        <span class="noticesItemText">
            Hola,Ecuador
            <br />Приглашаем Всех попробовать аутентичную Эквадорскую кухню
        </span>
    </a>
</div>
<br class="clearFix" />
<div class="pageContent homeContent">
    <h1 xmlns="">Кафе "Дионис" на Юго-Западной</h1>
    <iframe xmlns="" src="//www.youtube.com/embed/myvAvJPwqJs" allowfullscreen="" style="float: left; margin: 10px 20px 20px 0;" frameborder="0" height="315" width="390"></iframe>
    <p xmlns="">
        Кафе «Дионис» приглашает вас насладиться лучшими блюдами экзотических кухонь мира,
        приятно провести время в уютной атмосфере и найти для себя идеальное место для отдыха в кругу
        друзей. Кафе «Дионис» - это уникальное для Москвы заведение. Это одновременно и неповторимая
        кухня разных стран (Перу, Индии, Китая, Японии, Италии и т.д.), и богатые традиции в
        обслуживании гостя, и доступные цены на все блюда нашего меню, а также ароматный кальян.
    </p>
    <p xmlns="">
        Наше кафе работает уже 10 лет и мы все также стремимся удивлять своих гостей. Где еще в Москве
        Вы можете отведать экзотические кухни, приготовленных шеф-поварами из Перу, Индии, Китая?
        Только у нас.  Их совершенное владение искусством кулинарии, любовь к прямому общению с гостем
        создают особый колорит заведения. А в дополнение к этому вы будете удивлены большими порциями
        наших блюд, оперативностью их приготовления и, конечно же, демократичной стоимостью.
    </p>
    <p xmlns="">
        Найти «Дионис» очень просто - ведь это одно из лучших кафе на Юго-Западной ст. метро,
        которое знают и любят многие москвичи. Поэтому, даже находясь на станции метро Беляево или в любой
        другой точке города, вам стоит потратить несколько минут, чтобы попасть в мир экзотической кухни
        «Дионис». Здесь вам предложат отдохнуть в одном из трех красивейших залов: на 80 мест, 30 VIP-мест
        или 60 мест. И, независимо от того, какие кулинарные пристрастия имеете вы, мы обязательно
        позаботимся об том, чтобы вы в полной мере оценили уникальное сочетание потрясающей кухни с
        приемлемыми ценами и возвращались к нам снова и снова.
    </p>
</div>

<div class="push"></div>




