<div class="footer">
    <div class="width">
        <div class="copy">© 2012-2014. Кафе Restaurant&Cafe. Все права защищены. Тел. +7 (978) 78-21-663</div>
        <div class="handcrafted">Сделано в <a href="http://sevntu.com.ua/">СевНТУ</a></div>
    </div>
</div>
