<div class="width">
    <div class="header">
        <div class="pageMenu">
            <div class="pageMenuLeft">
                <ins></ins>
                @Html.ActionLink("Новости", "List", "News");
                <a href="/about">О нас</a>
                <a href="/menu">Меню</a>
                <a href="/comments">Отзывы</a>
                <ins></ins>
            </div>
            <div class="pageMenuRight">
                <ins></ins>
                @Html.ActionLink("Рецепты", "List", "Recipe");
                <a href="/actions">Банкеты</a>
                <a href="/contacts">Контакты</a>
                <ins></ins>
            </div>
        </div>
        <a class="logo">
            <img src="~/Content/Images/logo_restaurant.png" />
        </a>
    </div>
</div>
