<div class="topLine">
    <div class="width">
        <a class="homeHref"><ins></ins>Restaurant&Cafe</a>
        <div class="socialButtons">
            <a class="vk" target="_blank" href="http://vk.com/cafedionis"></a>
            <a class="fb" target="_blank" href="https://www.facebook.com/dioniscafe"></a>
            <a class="fs" target="_blank" href="https://ru.foursquare.com/v/дионис/4bb4b6aaf1b976b0e0301f20"></a>
            <a class="ig" target="_blank" href="http://instagram.com/dionis_cafe"></a>
        </div>
        <a class="address" style="margin-left: 30px;">
            <ins></ins>Севастополь, ул. Большая Морская, 53
        </a>
        <div class="phone" style="margin-left: 35px;">
            <ins></ins>
            <a href="tel:+7 (978) 78-21-663" class="phoneNumber">+7 (978) 78-21-663"</a>
        </div>
        <a class="buttonHref" href="/booking">Забронировать столик</a>
    </div>
</div>
